
.navbar-nav{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    margin:30px;
    font-size: larger;
}

.space1{
    margin: 100px;
}

.titulo{
    background-color: rgb(68, 69, 70);
}

