
.navbar-nav{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    margin:30px;
    
}

.space1{
    margin: 100px;
}

.titulo{
    margin-top: 15px;
}

.nombreEmpresa{
    font-size: 25px;
}

.desEmpresa{
    font-size: 18px;
}

.banner{
    background-color: #CAEBF2;
}

