.textocontacto{
    text-align: center;
}

footer {
    position:absolute;
    height:50px;
    line-height:50px;
    background:black;
    color:white;
    text-align:center;
    left:0;
    width:100%;
  }
  
  footer.bottom {
    bottom:0;
    }