<div class="card bg-light mb-3">
    <div class="card-header">Tratamientos</div>
    <div class="card-body">

        <div class="btn_crear">
            <button type="button" class="btn btn-primary" routerLink= '/tratamientos/form'>Nuevo Tratamiento</button>
        </div>
        

      <h3 class="card-title">Listado de Tratamientos</h3>

      <table class="table table-striped">
          <thead>
              <tr>
                  <th>Id</th>
                  <th>Nombre</th>
                  <th>Precio</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tratamientos">
                
                <td>{{item.id}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.precio}}</td>
                

                 <!--
                <td><button type="button" [routerLink] = "['/facturas', item.id]" class="btn btn-secondary">Ver</button></td>
               <td><button name="editar" id="button" [routerLink] = "['/paciente/formulario', pacientes.id]" class="btn btn-primary">Editar</button></td>
                <td><button name="eliminar" id="button" (click)='delete(pacientes)' class="btn btn-danger">Eliminar</button></td>-->


            </tr>
          </tbody>
      </table>
</div>
