<div class="card bg-light mb-3">
    <div class="card-header">Facturas</div>
    <div class="card-body">


        

      <h3 class="card-title">Listado de Facturas</h3>

      <table class="table table-striped">
          <thead>
              <tr>
                  <th>Id</th>
                  <th>Descripción</th>
                  <th>Observación</th>
                  <th>Fecha</th>
                  <th>Ver Factura</th>
                  <th>Eliminar</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of facturas">
                
                <td>{{item.id}}</td>
                <td>{{item.descripcion}}</td>
                <td>{{item.observacion}}</td>
                <td>{{item.fechaCreacionFac}}</td>
                
                <td><button type="button" [routerLink] = "['/facturas', item.id]" class="btn btn-secondary">Ver</button></td>
                <td><button name="eliminar" id="button" (click)='delete(item)' class="btn btn-danger">Eliminar</button></td>


            </tr>
          </tbody>
      </table>
</div>
