<div class="card mb-3 ">
  <div class="card-header bg-primary text-white text-center font-weight-bold">{{titulo}}</div>
  <div class="card-body">

    <div>

     <table class="table">

        <tbody>
          <tr>
            <th scope="row">Id</th>
            <td>{{paciente.id}}</td>
          </tr>
          <tr>
            <th *ngIf="paciente" scope="row">Nombre</th>
            <td>{{paciente.nombre}}</td>
          </tr>
          <tr>
            <th scope="row">Apellidos</th>
            <td>{{paciente.apellidos}}</td>
          </tr>
          <tr>
            <th scope="row">Email</th>
            <td>{{paciente.email}}</td>
          </tr>
          <tr>
            <th scope="row">Fecha de nacimiento</th>
            <td>{{paciente.fechanac | date:'dd-MM-yyyy'}}</td>
          </tr>
          <tr>
            <th scope="row">Fecha de Registro</th>
            <td>{{paciente.fecha | date:'dd-MM-yyyy'}}</td>
          </tr>
          <tr>
            <th scope="row">Historial</th>
            <td>{{paciente.historial}}</td>
          </tr>
        </tbody>
      </table>
    </div>
     <th>
         <button name="editar" id="button" [routerLink]="['/paciente/formulario', paciente.id]"
        class="btn btn-primary">Editar</button>
      </th>
      <th>
          <button type="button" class="btn btn-success" [routerLink] = "['/facturas/form', paciente.id]">Nueva Factura</button>  
        </th>

    <div><br><br></div>
    <div class="card-header bg-primary text-white text-center font-weight-bold" *ngIf="paciente">Facturas Relacionadas</div>
    <div class="card-body">

        <div class="alert alert-info my-4" *ngIf="paciente.facturas.length == 0">No hay facturas asignadas para este Paciente</div>

      <div>
        <table class="table" *ngIf="paciente.facturas.length > 0">

          <thead>
            <tr>
              <th>Id</th>
              <th>Descripción</th>
              <th>Observación</th>
              <th>Fecha</th>
              <th>Total</th>
              <th>Ver Factura</th>
              <th>Eliminar</th>
            </tr>

          </thead>
          <tbody>
            <tr *ngFor="let item of paciente.facturas">
              <td>{{item.id}}</td>
              <td>{{item.descripcion}}</td>
              <td>{{item.observacion}}</td>
              <td>{{item.fechaCreacionFac}}</td>
              <td>{{item.totalImporteFactura}}</td>
              <td><button type="button" class="btn btn-secondary" [routerLink]="['/facturas', item.id]">Ver</button>
                <td><button type="button" class="btn btn-danger" (click)= "delete(factura)" >Eliminar</button>
              </td>

            </tr>


          </tbody>
        </table>
      </div>

    </div>
  </div>


</div>