

  <div class="card border-primary" >
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <form method="post">
            <div class="form-group col-sm-6">
                <label for="exampleInputEmail1">Usuario</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Nombre de Usuario" autofocus required >
            </div>
            <div class="form-group col-sm-6">
                <label for="exampleInputEmail1">Contraseña</label>
                <input type="text" class="form-control" id="password" name="password" placeholder="Contraseña" autofocus required  >
            </div>
        
            <div class="form-group col-sm-6">
                <input type="submit" class="btn btn-lg btn-primary btn-block"  value="Entrar">
            </div>
    
        </form>
     
    </div>
  </div>


