

<div class="cards-list">
  
    <div class="card 1">
      <div class="card_image" routerLink="/pacientes"> <img src="https://cdn.pixabay.com/photo/2020/05/02/05/27/doctor-5119911_960_720.png" /> </div>
      <div class="card_title">
        <p>Pacientes</p>
      </div>
    </div>
    
      <div class="card 2">
      <div class="card_image" routerLink="/facturas">
        <img src="https://cdn.pixabay.com/photo/2019/01/12/19/38/audit-3929140_960_720.jpg" />
        </div>
      <div class="card_title">
        <p>Facturas</p>
      </div>
    </div>
    
    <div class="card 3">
      <div class="card_image" routerLink="/tratamientos">
        <img src="https://cdn.pixabay.com/photo/2014/04/03/10/53/flask-311650_960_720.png" />
      </div>
      <div class="card_title">
        <p>Tratamientos</p>
      </div>
    </div>
 
    
    </div>