<div class="container">
    <div class="row">
        <table>
            <tr>
            <td>
                <div class="card bg-light mb-3" style="width: 25rem; height: 10rem;">
                    
                    <div class="card-body">
                    <h3 class="card-title">Pacientes</h3><br>
                    <div><button type="button" class="btn btn-outline-secondary" routerLink="/pacientes" >Ver Pacientes</button></div>
                </div>
                </div>
            </td>
            <td>
                <div class="card bg-light mb-3" style="width: 25rem; height: 10rem; ">
                    
                    <div class="card-body">
                    <h3 class="card-title">Tratamientos</h3><br>
                    <div><button type="button" class="btn btn-outline-secondary">Ver Tratamientos</button></div>    
                </div>
                </div>
            </td>
            
            </tr>
            <tr>
            <td>
                <div class="card bg-light mb-3" style="width: 25rem; height: 10rem;">
                
                <div class="card-body">
                <h3 class="card-title">Facturas</h3><br>
    
                <div><button type="button" class="btn btn-outline-secondary">Ver Facturas</button></div>
            </div>
            </div>
            </td>
            <td>
                <div class="card bg-light mb-3" style="width: 25rem; height: 10rem;">
                    
                    <div class="card-body">
                    <h3 class="card-title">Entrar como usuario</h3><br>
                    <div><button type="button" class="btn btn-outline-secondary">Entrar</button></div>    
                </div>
                </div>
            </td>
            
            </tr>
        </table>
    </div>
</div>