<div class="container">
    <div class="row">
        <table>
            <tr>
            <td>
                <div class="card text-white bg-info mb-3" style="width: 25rem; height: 10rem;">
                    
                    <div class="card-body">
                    <h5 class="card-title">Listado de Pacientes</h5><br>
                    <div><button type="button" class="btn btn-outline-light">Ver Pacientes</button></div>
                </div>
                </div>
            </td>
            <td>
                <div class="card text-white bg-info mb-3" style="width: 25rem; height: 10rem; ">
                    
                    <div class="card-body">
                    <h5 class="card-title">Listado de Tratamientos</h5><br>
                    <div><button type="button" class="btn btn-outline-light">Ver Tratamientos</button></div>    
                </div>
                </div>
            </td>
            
            </tr>
            <tr>
            <td>
                <div class="card text-white bg-info mb-3" style="width: 25rem; height: 10rem;">
                
                <div class="card-body">
                <h5 class="card-title">Listado de Facturas</h5><br>
    
                <div><button type="button" class="btn btn-outline-light">Ver Facturas</button></div>
            </div>
            </div>
            </td>
            <td>
                <div class="card text-white bg-info mb-3" style="max-width: 25rem; height: 10rem;">
                    
                    <div class="card-body">
                    <h5 class="card-title">Entrar como usuario</h5><br>
                    <div><button type="button" class="btn btn-outline-light">Entrar</button></div>    
                </div>
                </div>
            </td>
            
            </tr>
        </table>
    </div>
</div>